@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');
:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgb(0,0,0,0.1);
}

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transform: all 2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.56rem;
    scroll-behavior: smooth;
}

section:nth-child(even) {
    background-color: #eee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--green);
}
.navbar a{
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}
.navbar a.active,
.navbar a:hover{
    background-color: var(--green);
    color: white;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    background-color: #eee;
}
header .icons i:hover,
header .icons a:hover {
    background-color: var(--green);
    color: white;
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

#search-form {
    position: fixed;
    top: -110%; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1004;
    background-color: rgb(0,0,0,0.8);
    padding:0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid white;
    padding: 1rem;
    text-transform: none;
    font-size: 3rem;
    background: none;
    color: white;

}
#search-form #search-box::placeholder {
    color: white;
}
#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
#search-form label {
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
#search-form label:hover {
    color: var(--green);
}
#search-form i {
    color: white;
    position: absolute;
    top: 5rem;
    right: 5rem;
    padding: 5rem;
    font-size: 5rem;
}
#search-form.active {
    top: 0;
}
section {
    padding: 2rem 9%;
}

.home .home-slider .slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content {
    margin-left: 10rem;
    flex: 1 1 45rem;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 5rem;
}
.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2rem;
    line-height: 1.5;
}
.btn {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1.7rem;
    padding:1rem 2rem ;
    background-color: var(--black);
    border-radius: .6rem;
    margin-top: 1rem;
}
.home .home-slider .slide .image img {
    width: 80%; 
}

.btn:hover {
    background-color: var(--green);
    letter-spacing: .1rem;
}


/* dishes section  */

#dishes {
    max-width: 1080;
}

.dishes h6{
    font-size: 2rem;
    color: var(--green);
    text-align: center;
    padding: 0.5rem 0;
}
.dishes h3 {
    font-size: 4rem;
    color: var(--black);
    text-align: center;
    padding-bottom: 2rem;
}

.dishes .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    gap: 1.5rem;
}

.dishes .container-box .box {
    padding: 2.5rem;
    background: white;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    text-align: center;
}

.dishes .container-box .box .fa-heart {
    position: absolute;
    background-color: #eee;
    border-radius: 50%;
    padding: 1rem;
    top: -20rem;
    left: -20rem;
    color: var(--black);
    font-size: 2rem;
}

.dishes .container-box .box .fa-heart:hover {
    background-color: var(--green);
    color: white;
}

.dishes .container-box .box .fa-eye {
    position: absolute;
    background-color: #eee;
    border-radius: 50%;
    padding: 1rem;
    top: -20rem;
    right:-20rem;
    color: var(--black);
    font-size: 2rem;
}

.dishes .container-box .box .fa-eye:hover {
    background-color: var(--green);
    color: white;
}

.dishes .container-box .box:hover  .fa-eye {
    top: 2rem;
    right: 2rem;
}
.dishes .container-box .box:hover {
    box-shadow: 0 .5rem 1.5rem rgb(0,0,0,0.3);;
    transform: scale(102%);
}

.dishes .container-box .box:hover  .fa-heart {
    top: 2rem;
    left: 2rem;
}

.dishes .container-box .box:hover img {
    transform: scale(110%);
    transition: 0.5s;
}

.dishes .container-box .box img {
    height: 17rem;
    margin: 1rem 0;
}
.dishes .container-box .box h3 {
   font-size: 2.5rem;
   color: var(--black);
}
.dishes .container-box .box .stars {
    padding: 1rem;
 }

 .dishes .container-box .box .stars i {
    font-size: 1.5rem;
    color: var(--green);
}
.dishes .container-box .box span {
    padding: 2rem;
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--green);
}
.about h6{
    font-size: 2rem;
    color: var(--green);
    text-align: center;
    padding: 0.5rem 0;
}
.about h3 {
    font-size: 4rem;
    color: var(--black);
    text-align: center;
    padding-bottom: 2rem;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.about .row .image {
    flex: 1 1 47rem;
}
.about .row .image img{
    width: 80%;
}

.about .row .content {
    flex: 1 1 47rem;
}

.about .row .content h4{
    font-size: 4rem;
    color: var(--black);
    padding: 0.5rem;
}
.about .row .content p{
    margin-top: 0.5rem;
    color: var(--light-color);
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 2;
}

.about .row .content .icon-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.about .row .content .icon-container .icon {
    background-color:#eee;
    padding: 1.5rem 2rem;
    border: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: .5rem;
    justify-content: center;
    flex: 1 1 20rem;
    border: .1rem solid rgb(0,0,0,0.1);
}

.about .row .content .icon-container .icon i {
    font-size: 2rem;
    color: var(--green);
    
}

.about .row .content .icon-container .icon span {
    font-size: 1.8rem;
}

/* menu  */

#menu .container {
    max-width: 1080px;
    margin: auto;
    padding-bottom: 5rem;
}

.menu h6{
    font-size: 2rem;
    color: var(--green);
    text-align: center;
    padding: 0.5rem 0;
}
.menu h3 {
    font-size: 4rem;
    color: var(--black);
    text-align: center;
    padding-bottom: 2rem;
}
.menu .container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.menu .container .box {
    border-radius: 0.5rem;
    background-color: white;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.menu .container .box .image {
    height: 30rem;
    padding: 1.5rem 1.5rem;
    overflow: hidden;
    position: relative;
    }

.menu .container .box .image img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    object-fit:cover ;
}
.menu .container .box .image .fa-heart {
    position: absolute;
    top: -5rem;
    right: -5rem;
    background-color: #eee;
    font-size: 2rem;
    color: #192a56;
    z-index: 100;
    padding: 1.8rem;
    font-size: 2rem;
    border-radius: 50%;
}

.menu .container .box .image .fa-heart:hover {
    color: white;
    background-color: var(--green);
}

.menu .container .box:hover .fa-heart {
    top: 2.5rem;
    right: 2.5rem;
}
.menu .container .box .content {
    padding: 0rem 2rem 2rem 2rem ;
}
.menu .container .box .content .stars {
    display: flex;
}
.menu .container .box .content .stars i{
    font-size: 1.8rem;
    padding: .3rem;
    color: var(--green);
}
.menu .container .box .content h4 {
    font-size: 3rem;
    margin-top: 1rem;
    color: #192a56;
}
.menu .container .box .content p {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: var(--light-color);
}
.menu .container .box .content span {
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 1rem;
   color: var(--green);
}




.review {
    padding-bottom: 5rem;
}

.review h6{
    font-size: 2rem;
    color: var(--green);
    text-align: center;
    padding: 0.5rem 0;
}

.review h3 {
    font-size: 4rem;
    color: var(--black);
    text-align: center;
    padding-bottom: 2rem;
}

.review .slide {    
    padding: 2rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    position: relative;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}

.review-slider {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.review .fa-quote-right {
    font-size: 5rem;
    position: absolute;
    top: 2rem; right: 2rem;
    color: rgb(0,0,0,0.2);
}

.review .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.review .user .stars i{
    color: var(--green);
}
.review .user img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
.review .user h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.review .slide p {
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--light-color);
}





.order h6 {
    font-size: 2rem;
    color: var(--green);
    text-align: center;
    padding: 0.5rem 0;
}

.order h3 {
    font-size: 4rem;
    color: var(--black);
    text-align: center;
    padding-bottom: 2rem;
}

.order form {
    width: 80%;
    border-radius: 1rem;
    background: white;
    
    padding: 2rem;
    margin: auto;
    
}

.order .inputbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order .inputbox .input {
    width: 49%;
}

.order .inputbox .input span {
    display: block;
    padding: 0.5rem;
    font-size: 1.8rem;
    color: var(--light-color);
    font-weight: 500;
}

.order .inputbox .input input,
.order .inputbox .input textarea {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #eee;
    text-transform: none;
    color: var(--black);
    margin-bottom: 1rem;
    width: 98%;
}



.order .inputbox .input input:focus,
.order .inputbox .input textarea:focus {
    
    border: .1rem solid var(--green);
    box-shadow: var(--box-shadow);
}

::placeholder{
    color: rgb(203, 203, 203);
    opacity: 1; 
    margin-left: 0.5rem !important;
  }

  ::placeholder::before {
    padding: 1rem;
    padding: 0rem;
  }
.order .inputbox .input textarea {
    height: 15rem;
}


.footer .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
    margin-bottom: 2rem
}

.footer .container-box h3{
    font-size: 2.5rem;
    margin-top: 2rem;
    color: var(--black);
}

.footer .container-box a{
    display: block;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    color: var(--light-color);
}

.footer .container-box a:hover {
    color:var(--black) ;
    text-decoration: underline;
}

 .credit {
    background-color: #eee;
    padding: 2rem;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0,0,0,0.8);
    font-weight: 500
}

.credit span {
    color: var(--green);
    font-weight: 500;
    font-size: 2.1rem;
}




















/* media queries */
@media (max-width:991px) {

    html {
        font-size: 55.5%;
        overflow-x: hidden;
        scroll-padding-top: 5.56rem;
        scroll-behavior: smooth;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 1rem 4%;
    }
    .home .home-slider .slide .content {
        margin-left: 0;
        
     }

     .dishes .container-box .box img {
       width: 100%;
       height: auto;
     }  

     .order form {
        width: 85%;

     }
     .order .inputbox {
        display: block;
        
    }

    .order .inputbox .input {
        width: 100%;
    }
    
}




@media (max-width:768px) {

    html {
        font-size: 45.5%;
    }

    header .icons #menu-bars {
        display: inline-block;
    }
    
    header .navbar {
        position: absolute;
        background-color: white;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgb(0,0,0,0.2);
        border-bottom: .1rem solid rgb(0,0,0,0.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 100% 0,0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0,100% 0%, 100% 100%,0% 100%);
    }
    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        background-color: #eee;
        font-size: 2rem;
    }
    #search-form #search-box {
        width: 80%;
    }

    .home .home-slider .slide .image {
        text-align: center;
        padding-bottom: 1rem;
    }
    .home .home-slider .slide .content {
        text-align: center;
        
    }
    
}

